/* styles for stable-diffusion */
.gradio-image:hover .sdppp-get-widget,
.gradio-html:has(.forge-image-container):hover .sdppp-get-widget,
.gradio-gallery:hover .sdppp-send-widget {
    display: flex;
}

.sdppp-get-widget,
.sdppp-send-widget {
    display: none;
    position: absolute;
    width: 84px;
    height: 40px;
    top: 60px;
    right: 0;
    overflow: hidden;
    line-height: 12px;
    font-size: 12px;
    flex-direction: row-reverse;
    z-index: 50;
}

.sdppp-get-widget button,
.sdppp-send-widget button {
    height: 30px;
    width: 42px;
    color: white !important;
    background: rgba(47, 47, 47, 0.8);
}

.sdppp-setting-button {
    height: 30px;
    width: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sdppp-svelte-mock1 {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    border: none;
    min-width: min-content;
}

/* Styles for SDPPPDialog */
#sdppp_dialog {
    display: none;
    position: fixed; /* 改为固定定位 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-background-fill);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 确保对话框在遮罩层之上 */
}

#sdppp_dialog::after {
    content: '';
    position: fixed;
    top: -1000%;
    left: -1000%;
    right: -1000%;
    bottom: -1000%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: -1; /* 确保遮罩在对话框后面 */
}

#sdppp_dialog form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: -2em;
    padding: 2em;
    background: white;
    border-radius: 5px;
}

#sdppp_dialog label {
    font-weight: bold;
    margin-bottom: 5px;
}

#sdppp_dialog select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#sdppp_dialog button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    color: var(--body-text-color);
}

.sdppp-confirm-button {
    background-color: #4CAF50;
    color: white;
}

.sdppp-confirm-button:hover {
    background-color: #45a049;
}

.sdppp-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
}

.sdppp-close-button:hover {
    background-color: #d32f2f;
}

/* 新增的 downloadLink 样式 */
.sdppp-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sdppp-page-id {
    font-size: 14px;
    color: unset;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.sdppp-download-link {
    color: #0066cc;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.sdppp-download-link:hover {
    text-decoration: underline;
}
