.tabbar {
    display: flex;
    flex: 0 0 auto;
    padding: 12px;
    background-color: rgba(0,0,0,.25);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-wrap: wrap;
}
.tabsection {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tabsection:nth-of-type(2) {
    justify-content: flex-end;
}

.tabsection * {
    margin: 0 4px;
}

#url-bar {
    width: 100%;
}
.status-bar {
    display: flex;
    justify-content: left;
    align-items: center;
}
.status-bar.connected { color: lightgreen; }
.status-bar.reconnecting { color: lightyellow; }
.status-bar.disconnected { color: lightcoral; }
.status-icon {
    margin: 0 5px;
}
.connect-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#connect-btn {
    text-align: center;
    margin-right: 10px;
}
.client-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.client-list-item .client-name {
    margin-left: 5px;
}
.client-list-item sp-link {
    margin-right: 10px;
}